#footer{
  height: 50px;
  background-color: #0361CC;
  color: white;
  font-weight: bolder;
  padding-top: 30px;
  padding-left: 30px;
}
#first{
  color: violet;
  text-decoration: none;
}
#login{
  color: white;
  text-decoration: none;
}
#cardcontact{
  color: black;
  text-decoration: none;
}